.profile-main {
  margin: 3rem 0;

  // profile width
  .profile-section,
  .info-article {
    width: 100%;
  }

  .info {
    display: flex;
    gap: 2rem;
  }

  // article
  .info-article {
    margin-top: 3rem;
  }

  .profile-section {
    .project-title {
      margin-top: 2rem;
      font-size: 32px;
    }
  }

  // Project.tsx
  .project-info {
    margin: 1rem;
  }
}
