@import 'tailwindcss';

/* 테마 변수 */
@theme {
  --breakpoint-xs: 365px;
  --breakpoint-sm: 460px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Color */
  --color-primary: #0b080c;
  --color-secondary: #1b1a22;
  --color-tertiary: #3a3d46;
  --color-acccent: #08d9d6;
  --color-success: #4caf50;
  --color-warning: #ff9f43;
  --color-danger: #e74c3c;
  --color-t-primary: #f0f1f2;
  --color-t-sub: #a1a6b4;
  --color-c-yellow: #ffd700; /* F4B400 */

  /* ETC */
  --color-c-purple: #aa42ff;
  --color-c-s-purple: #d29bff;
  --color-c-p-purple: #f2c0ff;
}

/* 다크모드 */
@variant dark (&:where([data-them=dark], [data-theme=dark] *));

/* 폰트 */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('/public/font/NotoSansKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/public/font/NotoSansKR-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  width: 100%;
  min-width: calc(100vw - 20px);
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
  background: #0b080c;
  color: #f0f1f2;
}

#JangHwanPark {
  width: 100%;
  min-height: 100vh;
}
