@import "tailwindcss";

/* 다크모드 */
@variant dark (&:where(.dark, .dark *));

html, body {
    width: 100%;
    min-width: calc(100vw - 20px);
    min-height: 100vh;
}

#JangHwanPark {
    width: 100%;
    min-height: 100vh;
}