@import "tailwindcss";

/* 테마 변수 */
@theme {
    --breakpoint-xs: 365px;
    --breakpoint-sm: 460px;
    --breakpoint-md: 640px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

/* 다크모드 */
@variant dark (&:where([data-them=dark], [data-theme=dark] *));

html, body {
    width: 100%;
    min-width: calc(100vw - 20px);
    min-height: 100vh;
}

#JangHwanPark {
    width: 100%;
    min-height: 100vh;
}